*{
    margin:0;
    padding:0;
}

.sidebar{
    background-color: rgb(152, 128, 128);
    width: 40vw;
    height: 100vh;
}
.sidebar nav {
    padding: 15px;
}

.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding:33px;
}
.sidebar nav li a{
    text-decoration: none;
    color: rgb(72, 69, 83);

}
.main{
   /* background-color: yellow;-*/
    width: 150vw;
    padding:10%;
}
.container{
    display: flex;
    width: 70vw;    
}
.infocontainer{
    /*background-color: rgb(0, 162, 255);*/
    height: 45vh;
    width: 75vw;
    margin: 144px auto;
    display: flex;
    justify-content:space-around;
}
.hello{
    font-size: 50px;
}
.name{
    font-size:40px;
    font-weight: bold;
}
.about{
    font-size: 30px;
    font-weight: bold;
}
.moreabout{
font-size: 20px;
margin-top:20px ;

}
.buttons{
    margin-top: 34px;  
}
.devinfo{
    display: flex;
    justify-content: center;
    flex-direction:column;
  
}
.devpic img{
   height: 45vh;   
}
.buttons button{
    padding: 9px 14px;
    border-radius: 22px;
    color: rgb(232, 243, 245);
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 20px;
    margin: 0 3px;
    cursor: pointer;
}
.buttons button:hover{
    background-color: rgb(245, 244, 249); 
    color: dodgerblue;
}
.contactform{
    padding: 0 30px;
    padding-top: 10px;
}
.contactform h1{
    text-align: center;
}
.contactform form div{
    padding: 8px 0;
    display: flex;
    flex-direction: column;
}
.contactform form div input{
    width: 16vw;
    border-radius: 5px;
    margin: 8px 0 0 0;
    padding: 4px;
}
#clientemail{
    font-size: 13px;
    color: midnightblue;
    margin: 0 3px;
}
#clientphone{
    font-size: 13px;
    color: midnightblue;
    margin: 0 3px;
}
.form-check{
    flex-direction: row;
}

.form-check input{
    width:24px;
    margin:3px;
}
.btn-sm{
    font-size:14px;
    margin:12px 0;
    padding:10px 19px;

}
.btn:hover{
    background-color: rgb(184, 15, 15);
    color: blue;
}